
   <div class="sub-agile">
            <div class="agile1">
                <!-- navigation section -->
                <div>
                    <p><button id="trigger-overlay" type="button"><img alt="menu" class="img-responsive" src="{{ asset('images/menu.png') }}"></button></p>
                </div><!-- open/close -->
                <div class="overlay overlay-boxes">
                    <svg height="101%" preserveAspectRatio="none" viewBox="0 0 1440 806" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0.005959,200.364029l207.551124,0l0,204.342453l-207.551124,0l0,-204.342453z"></path>
                        <path d="m0.005959,400.45401l207.551124,0l0,204.342499l-207.551124,0l0,-204.342499z"></path>
                        <path d="m0.005959,600.544067l207.551124,0l0,204.342468l-207.551124,0l0,-204.342468z"></path>
                        <path d="m205.752151,-0.36l207.551163,0l0,204.342437l-207.551163,0l0,-204.342437z"></path>
                        <path d="m204.744629,200.364029l207.551147,0l0,204.342453l-207.551147,0l0,-204.342453z"></path>
                        <path d="m204.744629,400.45401l207.551147,0l0,204.342499l-207.551147,0l0,-204.342499z"></path>
                        <path d="m204.744629,600.544067l207.551147,0l0,204.342468l-207.551147,0l0,-204.342468z"></path>
                        <path d="m410.416046,-0.36l207.551117,0l0,204.342437l-207.551117,0l0,-204.342437z"></path>
                        <path d="m410.416046,200.364029l207.551117,0l0,204.342453l-207.551117,0l0,-204.342453z"></path>
                        <path d="m410.416046,400.45401l207.551117,0l0,204.342499l-207.551117,0l0,-204.342499z"></path>
                        <path d="m410.416046,600.544067l207.551117,0l0,204.342468l-207.551117,0l0,-204.342468z"></path>
                        <path d="m616.087402,-0.36l207.551086,0l0,204.342437l-207.551086,0l0,-204.342437z"></path>
                        <path d="m616.087402,200.364029l207.551086,0l0,204.342453l-207.551086,0l0,-204.342453z"></path>
                        <path d="m616.087402,400.45401l207.551086,0l0,204.342499l-207.551086,0l0,-204.342499z"></path>
                        <path d="m616.087402,600.544067l207.551086,0l0,204.342468l-207.551086,0l0,-204.342468z"></path>
                        <path d="m821.748718,-0.36l207.550964,0l0,204.342437l-207.550964,0l0,-204.342437z"></path>
                        <path d="m821.748718,200.364029l207.550964,0l0,204.342453l-207.550964,0l0,-204.342453z"></path>
                        <path d="m821.748718,400.45401l207.550964,0l0,204.342499l-207.550964,0l0,-204.342499z"></path>
                        <path d="m821.748718,600.544067l207.550964,0l0,204.342468l-207.550964,0l0,-204.342468z"></path>
                        <path d="m1027.203979,-0.36l207.550903,0l0,204.342437l-207.550903,0l0,-204.342437z"></path>
                        <path d="m1027.203979,200.364029l207.550903,0l0,204.342453l-207.550903,0l0,-204.342453z"></path>
                        <path d="m1027.203979,400.45401l207.550903,0l0,204.342499l-207.550903,0l0,-204.342499z"></path>
                        <path d="m1027.203979,600.544067l207.550903,0l0,204.342468l-207.550903,0l0,-204.342468z"></path>
                        <path d="m1232.659302,-0.36l207.551147,0l0,204.342437l-207.551147,0l0,-204.342437z"></path>
                        <path d="m1232.659302,200.364029l207.551147,0l0,204.342453l-207.551147,0l0,-204.342453z"></path>
                        <path d="m1232.659302,400.45401l207.551147,0l0,204.342499l-207.551147,0l0,-204.342499z"></path>
                        <path d="m1232.659302,600.544067l207.551147,0l0,204.342468l-207.551147,0l0,-204.342468z"></path>
                        <path d="m-0.791443,-0.360001l207.551163,0l0,204.342438l-207.551163,0l0,-204.342438z"></path></svg> <button class="overlay-close" type="button">Close</button>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a class="scroll" href="#about">About</a>
                            </li>
                            <li>
                                <a class="scroll" href="#services">Services</a>
                            </li>
                            <li>
                                <a class="scroll" href="#team">Team</a>
                            </li>
                            <li>
                                <a class="scroll" href="#gallery">Gallery</a>
                            </li>
                            <li>
                                <a class="scroll" href="#stats">Stats</a>
                            </li>
                            <li>
                                <a class="scroll" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /open/close -->
                <!-- /navigation section -->
            </div><a href="index.html">
                <ul class="logo">
                    <li><i aria-hidden="true" class="glyphicon glyphicon-book"></i></li>
                    <li>
                        <h1>Inspiring</h1>
                    </li>
                </ul></a>
            <div class="number">
                <p><a class="scroll" href="#contact"><i aria-hidden="true" class="fa fa-envelope"></i></a></p>
                <p>+013 244 5566</p>
            </div>
            <div class="clearfix"></div>
            <div class="search-box">
                <div class="sb-search" id="sb-search">
                    <form>
                        <input class="sb-search-input" id="search" name="search" placeholder="Enter your search term..." type="search"> <input class="sb-search-submit" type="submit" value=""> <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
